.wrapper {
    overflow: hidden;
}
.root {
    display: flex;
    background: var(--primary-blue);
    font-weight: bold;
    color: white;
}

.cell {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);

    &:last-child {
        border-right: none;
    }
}

.restday {
    background: #999999;
}
