.root {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
    background: white;
}
.header {
    display: flex;
}
.body {
    display: flex;
}
.fixed-horizontal {
    display: flex;
}
