:root {
    --primary-blue: #1976d2;
    --border-color: #f1f1f1;
    --box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2),
                  0px 1px 1px 0px rgba(0,0,0,0.14),
                  0px 2px 1px -1px rgba(0,0,0,0.12);
    --text-shadow: 0px 1px 3px rgba(0,0,0,0.2),
                  0px 1px 1px rgba(0,0,0,0.14),
                  0px 2px 1px rgba(0,0,0,0.12);
    --border-radius: 4px;
    --body-bgcolor-gray: #596778; // 深蓝灰
    --body-bgcolor-blue: #0079bf; // 看板深蓝
    --body-bgcolor-gray2: #e2e4e6; // 看板灰
}
// 看板深灰
// box-shadow: 1px 1px 1px rgba(0,0,0,.5);
// border-radius: 3px;
body {
    font-family: sans-serif;
}

a {
    color: inherit;
}
