.root {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -10px;
    bottom: 0;
    left: 50%;
    right: 0;
    text-align: center;
    box-sizing: border-box;
    margin-left: -25px;
}

.menu-item, .menu-open-button {
    position: absolute;
    display: flex;
    align-items:center;
    justify-content: space-around;
    background: #EEEEEE;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    text-align: center;
    line-height: 50px;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
    box-shadow: 3px 3px 3px 0 fade-out(black, 0.7);
}

.menu-icon {
    width: 30px;
    height: 30px;
    fill: currentColor;
}
.menu-open { display: none; }

.lines {
    width: 20px;
    height: 2px;
    background: #596778;
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-left: -10px;
    margin-top: -1.5px;
    transition: transform 200ms;
}

.line-1 {
    transform: translate3d(0, -6px, 0);
}

.line-2 {
    transform: translate3d(0, 0, 0);
}

.line-3 {
    transform: translate3d(0, 6px, 0);
}

.menu-open:checked {
    & + .menu-open-button {
        .line-1 {
            transform: translate3d(0, 0, 0) rotate(45deg);
        }

        .line-2 {
            transform: translate3d(0, 0, 0) scale(0.1, 1);
        }

        .line-3 {
            transform: translate3d(0, 0, 0) rotate(-45deg);
        }
    }
}

.menu-item {
    &:hover {
        background: #EEEEEE;
        color: #3290B1;
    }

    &:nth-child(3) {
        transition-duration: 180ms;
    }

    &:nth-child(4) {
        transition-duration: 180ms;
    }

    &:nth-child(5) {
        transition-duration: 180ms;
    }

    &:nth-child(6) {
        transition-duration: 180ms;
    }

    &:nth-child(7) {
        transition-duration: 180ms;
    }

    &:nth-child(8) {
        transition-duration: 180ms;
    }

    &:nth-child(9) {
        transition-duration: 180ms;
    }
}

.menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;

    &:hover {
        transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    }
}


.menu-open:checked {
    & + .menu-open-button {
        transition-timing-function: linear;
        transition-duration: 200ms;
        transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    }

    & ~ .menu-item {
        transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);

        &:nth-child(3) {
            transition-duration: 480ms;
            transform: translate3d(-140px, 10px, 0);
        }

        &:nth-child(4) {
            transition-duration: 380ms;
            transform: translate3d(-105px, 60px, 0);
        }

        &:nth-child(5) {
            transition-duration: 280ms;
            transform: translate3d(-55px, 90px, 0);
        }

        // 中间
        &:nth-child(6) {
            transition-duration: 180ms;
            transform: translate3d(0, 105px, 0);
        }

        &:nth-child(7) {
            transition-duration: 280ms;
            transform: translate3d(55px, 90px, 0);
        }

        &:nth-child(8) {
            transition-duration: 380ms;
            transform: translate3d(105px, 60px, 0);
        }

        &:nth-child(9) {
            transition-duration: 480ms;
            transform: translate3d(140px, 10px, 0);
        }
    }
}

@mixin items($args...) {
    @each $name, $color in keywords($args) {
        .#{$name} {
            background: $color;

            &:hover {
                color: $color;
            }
        }
    }
}

@include items(
    $item-1: #669AE1,
    $item-2: #70CC72,
    $item-3: #FE4365,
    $item-4: #C49CDE,
    $item-5: #FC913A,
    $item-6: #62C2E4,
    $item-7: #62C2E4,
)
